[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStartPre=/usr/sbin/modprobe libcomposite
ExecStart=/usr/bin/gt load rndis-os-desc.scheme rndis
RemainAfterExit=yes
ExecStop=/usr/bin/gt rm -rf rndis
Type=simple

[Install]
WantedBy=usb-gadget.target
